<%= simple_form_for(@option) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :c_attribute %>
    <%= f.input :display_order %>
    <%= f.input :description %>
    <%= f.association :choice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
