<%= simple_form_for(@choice_row) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :choice_set %>
    <%= f.input :display_order %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
