<h1>Listing choice_sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @choice_sets.each do |choice_set| %>
      <tr>
        <td><%= choice_set.name %></td>
        <td><%= link_to 'Show', choice_set %></td>
        <td><%= link_to 'Edit', edit_choice_set_path(choice_set) %></td>
        <td><%= link_to 'Destroy', choice_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choice set', new_choice_set_path %>
